/**
 *
 * Apply Here your Custom CSS
 *
*/

/* div that will appear on creating a New Entry */
body .newEntry {
    opacity: 1;
    top: 30%;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 100px;
    padding: 45px;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
    position: relative;
    /* width: 50%; */
    /* height: 45%; */
    /* left: 0; */
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    padding: 3%;
    /* background: linear-gradient(45deg, aliceblue 50%, #bdcaff 100%); */
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-start;
}


.newEntry_fields{
height:20%;
width:100%;
/* border:1px solid black; */
display: flex;
align-items: flex-start;
justify-content: flex-start;
justify-content: space-around;
}

.uploader{
-webkit-appearance: none;
appearance:none;
width:35%;
-moz-transition: opacity .25s linear;
-webkit-transition: opacity .25s linear;
transition: opacity .25s linear;
}

/* database table css */
#databaseTable{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    position:relative;
    /* margin-top: 10%; */
}
th, td {
    text-align: left;
    padding: 8px;
    text-align: center;
    /* border-top:1px solid black; */
}

th{
    border-top:1px solid black;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: white;
}
#databaseTableBody{
    top:20%;
    position:relative;
    display: flex;
    /* height: 300px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* For page new Entry */

.itemCode_col_length {
    margin: 0;
    padding: 0;
}

.fa, .fab, .fal, .far, .fas {
    margin-top: 0%;
}

.fa, .fab, .fal, .far, .fas:hover{
    cursor:pointer;
}

/* This code is for the search bar in the inventory page */
.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid  #343a40;
    box-shadow: 0 0 0 1px  #343a40;
    color:black;
    font-weight:bold;
}

.active-cyan-4 input[type=text]::placeholder:focus{
    font-weight:bold;
}

#txtDateRange:focus{
    border: 1px solid  #343a40;
    box-shadow: 0 0 0 1px  #343a40;
    font-weight:bold;
}

.search_field{
    margin-top:1%;
}

/* changing color for buttons */
.btn-dark{
    width: 30%;
    background-color:#343a40;
    color:white;
}

.btn-dark:hover{
    cursor:pointer;
    color: lightgray;
}

.formButton:visited{
    color:white;
}

.formButton:active{
    color:white;
}

#search_entryLog, #search_delivery{
    float: right;
    width: 15%;
}

#search_inventory{
    width: 30%;
    float: right;
}


#dateRange_form {
    width: 16%;
    float: right;
    margin-top: 1%;
}

.exportToExcel {
    width: 10%;
    float: right;
    margin-top: 1%;
    color: white;
}

#exportToExcel_inventory {
    width: 20%;
    float: right;
    margin-top: 1%;
    color: white;
    margin-right: 2%;
}

p {margin-top:1rem; font-size:1rem;}
p:first-child, h1 + p {margin-top:0.5rem;}

a, a:focus, a:link {color:#1971c4; text-decoration:none; outline:0;}
a:hover {color:#1c3d73;}
a:active {color:#1c3d73;}

.bulletedList {margin-top:0.5rem;}
.bulletedList li {margin:0.5rem 0 0 0;}
.bulletedList li:first-child {margin-top:0;}
.bulletedList li:before {content:"\f21b"; font-family:"Ionicons"; float:left; margin-right:0.5rem; font-size:0.7143rem;}

.clearContent:after {clear: both; content: "."; display:block; height:0; visibility:hidden;}

/* END OF BOILERPLATE */

/* form {width:100%; margin-top:1rem; font-size:1rem;} */
label {display:block;font-size:1.2rem;}
.inputField {
    border: solid 1px #f2f2f2;
    padding: 0.2857rem;
    -webkit-border-radius: 0.2857rem;
    -moz-border-radius: 0.2857rem;
    border-radius: 0.2857rem;
    font-size: 1.2rem;
    color: #343a40;
}
label + .inputField {margin-top:0.2857rem;}
.dateRangeWrapper:after {position:relative; right:30px; top:2px; font-family:"Ionicons"; content:"\f117"; font-size:1.429rem; line-height:1.714rem; pointer-events:none;}

.ui-datepicker .ui-datepicker-header {
    border: 1px solid steelblue;
    background: steelblue;
    color: aliceblue;
}

/* Calander icon */
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

#dateRange_icon {
    margin-top: -12.1%;
    margin-left: 73%;
    position: absolute;
    font-size: 1.5em;
    color: black;
}

/* ----INDEX PAGE---- */

 .tile_table{
    width: auto;
    margin-left: 2%;
    font-size: 1.2em;
    font-family: Calibri;
    display: none;
    border:none;
    margin: 4% 29% 9% 1%;
    -webkit-box-shadow: 7px 6px 4px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 7px 6px 4px -2px rgba(0,0,0,0.69);
    box-shadow: 3px 3px 4px 0px #999999;
    
}

.tile-stats:hover{
    cursor:pointer;
}

/* tiles css changing in index page */

.tile-stats{
    -webkit-box-shadow: 3px 3px 4px -2px rgba(148,127,148,1);
    -moz-box-shadow: 3px 3px 4px -2px rgba(148,127,148,1);
    box-shadow: 3px 3px 4px 0px #999999;
}

.tile_icon{
    top: 12%;
    width: 35%;
    float: right;
    opacity: 0.2;
}

#first_tile_icon{
    width: 32%;
    margin-bottom: 2%;
}
#money_icon{
    margin-bottom: 2%;
    width: 29%;
}
/* changing index tables css */
.table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    background: #303641;
    border-bottom-width: 0px;
    color: #ffffff;
    border-bottom: 0 !important;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    background: #303641;
    /* border-bottom-width: 0px; */
    color: #ffffff;
    border-bottom: 0 !important;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    width: 1%;
}

.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    background: #324e7c00;
    color: #373e4a;
    font-size: 1.1em;
    border:none;
}

.table-bordered{
    -webkit-box-shadow: 7px 6px 4px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 7px 6px 4px -2px rgba(0,0,0,0.69);
    box-shadow: 3px 3px 4px 0px #999999;
    border:none;
}

#lessThan5_quantity_table{
    margin-left: 2%;
}

#full_warehouse_icon{
    width: 42%;
    float: right;
    margin-bottom: -3%;
}

#signUpBar{
    top:32%;
}